extends layout

block content
  h1 Travel Visualizer
  p.lead Track your travels on the globe.
  hr
  .row
    .col-sm-12
      canvas#rotatingGlobe(width='400', height='400', style='width: 1000px; height: 400px; cursor: move;')
  script.
    script(src="/myproject/views/partials/globe.js")

